@if (dataTypesIsError) {
  <div>
    <error-page [errorMessage]="dataTypesError!.message" />
  </div>
} @else {
  @if (!dataTypes || dataTypesIsLoading) {
    <div>
      <loading-page />
    </div>
  } @else {
    <div class="container">
      <graph-header class="graph-header" [runId]="run?.id" />
      <div class="content-div">
        <graph-sidebar [dataTypes]="dataTypes!" [selectDataType]="setSelectedDataType" class="desktop-sidebar" />
        <div class="right-container">
          <graph [valuesSubject]="selectedDataTypeValuesSubject" class="graph" />
          <graph-caption
            [dataType]="selectedDataType"
            [currentValue]="currentValue"
            [onRunSelected]="onRunSelected"
            [onClearDataType]="clearDataType"
            [onSetRealtime]="onSetRealtime"
            [run]="run"
            class="graph-caption"
          />
        </div>
        <graph-sidebar
          [dataTypes]="dataTypes!"
          [onRunSelected]="onRunSelected"
          [selectDataType]="setSelectedDataType"
          class="mobile-sidebar"
        />
      </div>
    </div>
  }
}
