<div class="image-container" style="margin-right: 16px; margin-left: 16px">
  <sidebar-toggle style="position: absolute; margin-top: 16px; margin-left: 16px" />

  @if (isMobile) {
    <landing-page-mobile style="width: 100%" [time]="time" />
  } @else {
    <div style="display: flex; flex-direction: column">
      <div style="width: 100%; padding-bottom: 0px; padding-top: 10px; display: flex; justify-content: flex-end">
        <toast-button [onClick]="this.onStartNewRun" label="Start New Run"></toast-button>
      </div>

      <div style="width: 100%; display: grid; column-gap: 10px; row-gap: 10px">
        <div style="display: flex; justify-content: center; grid-column-start: 1; grid-column-end: 3; height: 100%">
          <typography
            variant="xx-large-title"
            [content]="time | date: 'HH:mm:ss'"
            additionalStyles="font-size: 7rem; text-align: center-bottom"
          />
        </div>
        <div style="display: flex; grid-column-start: 3; grid-column-end: 4">
          <date-location style="height: 100%; width: 100%" />
        </div>
        <div style="display: flex; grid-column-start: 4; grid-column-end: 5">
          <connection-display style="height: 100%; width: 100%" />
        </div>

        <div style="display: flex; grid-column-start: 5; grid-column-end: 6">
          <current-run-display style="height: 100%; width: 100%" />
        </div>

        <div style="display: flex; grid-column-start: 6; grid-column-end: 7">
          <viewer-display style="width: 100%; height: 100%" />
        </div>

        <div style="display: flex; grid-column-start: 1; grid-column-end: 3">
          <driver-component style="width: 100%; height: 250px" />
        </div>
        <div style="display: flex; grid-column-start: 3; grid-column-end: 4">
          <torque-display style="width: 100%; height: 250px" />
        </div>
        <div style="display: flex; grid-column-start: 4; grid-column-end: 7">
          <motor-info style="width: 100%; height: 100%" />
        </div>

        <div
          style="
            display: flex;
            flex-direction: column;
            height: 550px;
            justify-content: space-between;
            grid-column-start: 1;
            grid-column-end: 4;
          "
        >
          <speed-over-time-display style="width: 100%" />
          <acceleration-over-time-display style="width: 100%" />
        </div>

        <div style="display: flex; grid-column-start: 4; grid-column-end: 7">
          <acceleration-graphs style="width: 100%; height: 550px" />
        </div>

        <div style="display: flex; grid-column-start: 1; grid-column-end: 6">
          <raspberry-pi style="width: 100%" />
        </div>
        <div style="display: flex; grid-column-start: 6; grid-column-end: 7">
          <brake-pressure-display style="width: 100%" />
        </div>

        <div style="display: flex; grid-column-start: 1; grid-column-end: 7">
          <map-info-display style="width: 100%" />
        </div>
      </div>
    </div>
  }
</div>
