<div class="header-bar-container" style="width: 100%">
  <div style="width: 33.6%">
    <typography
      variant="xx-large-title"
      [content]="time | date: 'HH:mm:ss'"
      additionalStyles="font-size: 7rem; text-align: center"
    />
  </div>
  <landing-page-date-location style="height: 95px; width: 16.6%" />
  <landing-page-connection-display style="height: 95px; width: 16.6%" />
  <landing-page-current-run-display style="height: 95px; width: 16.6%" />
  <landing-page-viewer-display style="height: 95px; width: 16.6%" />
</div>
